<!DOCTYPE html>
<html>
  <head>
		<link href='http://fonts.googleapis.com/css?family=Flamenco|Bitter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/zenburn.css">
		<link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/js/jquery.lettering-0.6.1.min.js"></script>
		<script src="/js/highlight.pack.js"></script>
		<script>
			$(function() {
				$('pre code').each(function(i, e) {
					hljs.highlightBlock(e, '    ');
					$(e).parent().find('h1').append(" (" + $(e).attr('class') + ")")
				});
				$("pre code").html(function(index, html) {
					var span ='<span class="pad">&nbsp;</span>';
					return span + $.trim(html).replace(/^(.*)$/mg, "<span class=\"line\">$1</span>") + span;
				});
			});
		</script>
  </head>
  <body>
		<div id="content">
			<header>
				<nav>
	        <a href="/"<%= ' class="active"' if @path == 'index' %>>Home</a>
					<a href="/archives"<%= ' class="active"' if @path == 'archives' %>>Archives</a>
					<a href="http://luansantos.com">About</a>
				</nav>
				luan<span>santos</span>
			</header>
	    <section>
	      <%= yield %> 
	    </section>
		</div>
		<footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

